body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ddd;
  text-align: center;
  background: linear-gradient(120deg, #000, #333);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
}

h1 {
  font-size: 2.5em;
  color: #fff;
  margin: 0;
  animation: fadeIn 2s ease-out;
}

.tic-tac-toe {
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.tic-tac-toe h2 {
  color: #eee;
  margin: 0 0 20px;
  font-size: 2em;
  animation: slideIn 1.5s ease-out;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  max-width: 370px;
  margin: 0 auto;
}

.cell {
  width: 7rem;
  height: 7rem;
  background-color: #444;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
}

.cell:hover {
  background-color: #555;
  transform: scale(1.1);
}

.play-again {
  background-color: #444;
  color: #eee;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.play-again:hover {
  background-color: #555;
  transform: scale(1.05);
}

.play-again i {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 1.5em;
  }

  .hero p {
    font-size: 1em;
  }

  .tic-tac-toe {
    padding: 10px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.8em;
  }

  .hero h2 {
    font-size: 1.2em;
  }

  .hero p {
    font-size: 0.9em;
  }

  .grid {
    gap: 5px;
  }

  .cell {
    height: 80px;
    font-size: 1.5em;
  }
}
